<div class="container content">
    <div class="row">
        <div class="col pb-4">
            <a routerLink="/">
                <i class="fas fa-chevron-left"></i> Back
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col h2 text-center">Simple Dataset Example</div>
    </div>
    <div class="row">
        <div class="col h6 text-center pb-5">This example shows how to add dataset without any configurations.</div>
    </div>

    <rab-grid [config]="grid01_config" [data]="grid_data"></rab-grid>
</div>