<div class="container content">
    <div class="row">
        <div class="col pb-4">
            <a routerLink="/">
                <i class="fas fa-chevron-left"></i> Back
            </a>
        </div>
    </div>
    
    <div class="row">
        <div class="col h2">Grid with Pagination Example</div>
    </div>
    <div class="row">
        <div class="col h6 pb-4">This example shows grid with basic pagination.</div>
    </div>
    <div class="row">
        <div class="col pb-5">
            <pre><code>{{
"grid_config: RABGridConfig = {
    pagination: {
        enable: true
    }
}"}}</code></pre>
        </div>
    </div>

    <rab-grid [config]="grid01_config" [data]="grid_data"></rab-grid>
</div>

<div class="container content">
    <div class="row">
        <div class="col h2">Grid with Default Page Size</div>
    </div>
    <div class="row">
        <div class="col h6 pb-4">This example shows grid default page size.</div>
    </div>
    <div class="row">
        <div class="col pb-5">
            <pre><code>{{
"grid02_config: RABGridConfig = {
    pagination: {
        enable: true,
        selected_size: 5
    }
}"}}</code></pre>
        </div>
    </div>

    <rab-grid [config]="grid02_config" [data]="grid_data"></rab-grid>
</div>