<div class="container-fluid">
    <div class="row" *ngIf="!data.length && !getProperty(rabGridProperties.HeaderOrder)">
        <div class="col text-center bg-light p-2">No data is available to display.</div>
    </div>

    <div id="rab-grid-download-container" class="mx-auto" *ngIf="download_mode">
        <div *ngFor="let p_page of print_data; let j = index" class="A4 pt-5" [class.pt-5]="j != 0">
            <table class="table"
                [class.table-striped]="getProperty(rabGridProperties.ThemeStriped)"
                [class.table-primary]="getProperty(rabGridProperties.ThemeColorTheme) == rabGridColorThemes.Primary"
                [class.table-secondary]="getProperty(rabGridProperties.ThemeColorTheme) == rabGridColorThemes.Secondary"
                [class.table-success]="getProperty(rabGridProperties.ThemeColorTheme) == rabGridColorThemes.Success"
                [class.table-danger]="getProperty(rabGridProperties.ThemeColorTheme) == rabGridColorThemes.Danger"
                [class.table-warning]="getProperty(rabGridProperties.ThemeColorTheme) == rabGridColorThemes.Warning"
                [class.table-info]="getProperty(rabGridProperties.ThemeColorTheme) == rabGridColorThemes.Info"
                [class.table-light]="getProperty(rabGridProperties.ThemeColorTheme) == rabGridColorThemes.Light"
                [class.table-dark]="getProperty(rabGridProperties.ThemeColorTheme) == rabGridColorThemes.Dark"
                [class.table-hover]="getProperty(rabGridProperties.ThemeHoverable)"
                [class.table-bordered]="getProperty(rabGridProperties.ThemeBorderEnable) && (getProperty(rabGridProperties.ThemeBorderColorTheme) != rabGridBorderColors.BorderLess)"
                [class.border-primary]="getProperty(rabGridProperties.ThemeBorderColorTheme) == rabGridBorderColors.Primary"
                [class.border-secondary]="getProperty(rabGridProperties.ThemeBorderColorTheme) == rabGridBorderColors.Secondary"
                [class.border-success]="getProperty(rabGridProperties.ThemeBorderColorTheme) == rabGridBorderColors.Success"
                [class.border-danger]="getProperty(rabGridProperties.ThemeBorderColorTheme) == rabGridBorderColors.Danger"
                [class.border-warning]="getProperty(rabGridProperties.ThemeBorderColorTheme) == rabGridBorderColors.Warning"
                [class.border-info]="getProperty(rabGridProperties.ThemeBorderColorTheme) == rabGridBorderColors.Info"
                [class.border-light]="getProperty(rabGridProperties.ThemeBorderColorTheme) == rabGridBorderColors.Light"
                [class.border-dark]="getProperty(rabGridProperties.ThemeBorderColorTheme) == rabGridBorderColors.Dark"
                [class.border-white]="getProperty(rabGridProperties.ThemeBorderColorTheme) == rabGridBorderColors.White"
                [class.table-borderless]="getProperty(rabGridProperties.ThemeBorderColorTheme) == rabGridBorderColors.BorderLess"
            >
                <thead>
                    <tr *ngIf="getProperty(rabGridProperties.HeaderOrder)">
                        <th [style.width]="getProperty(rabGridProperties.ColumnSize, head)" *ngFor="let head of getProperty(rabGridProperties.HeaderOrder)"
                            [class.text-right]="getProperty(rabGridProperties.ColumnAlign, head) == 'right'"
                            [class.text-left]="getProperty(rabGridProperties.ColumnAlign, head) == 'left'"
                            [class.text-center]="getProperty(rabGridProperties.ColumnAlign, head) == 'center'">
                            <span *ngIf="!getProperty(rabGridProperties.ColumnSort, head)">
                                <span>{{getProperty(rabGridProperties.ColumnName, head) ? getProperty(rabGridProperties.ColumnName, head) : head}}</span>
                            </span>
                            <a class="table_sort" *ngIf="getProperty(rabGridProperties.ColumnSort, head)">
                                <span>{{getProperty(rabGridProperties.ColumnName, head) ? getProperty(rabGridProperties.ColumnName, head) : head}}</span>
                            </a>
                            <span *ngIf="sort_by == head"><span *ngIf="sort_direction == 1">&nbsp;<i class="fas fa-caret-down"></i></span><span *ngIf="sort_direction == 2">&nbsp;<i class="fas fa-caret-up"></i></span></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of p_page; let i = index">
                        <td *ngFor="let value of getProperty(rabGridProperties.HeaderOrder)"
                            [class.text-right]="getProperty(rabGridProperties.ColumnAlign, value) == 'right'"
                            [class.text-left]="getProperty(rabGridProperties.ColumnAlign, value) == 'left'"
                            [class.text-center]="getProperty(rabGridProperties.ColumnAlign, value) == 'center'">
                            <span 
                                [class.bold]="getProperty(rabGridProperties.ColumnBold, value) || (getProperty(rabGridProperties.LastRowBold, value) && i == (getProperty(rabGridProperties.PaginationEnable) ? page_data.length : data.length) - 1)"
                                [class.archivo-bold]="getProperty(rabGridProperties.ColumnLinkEnable, value)"
                                [class.grid-links]="getProperty(rabGridProperties.ColumnLinkEnable, value)"
                                (click)="getProperty(rabGridProperties.ColumnLinkCallback, value)(row, getProperty(rabGridProperties.ColumnLinkCallbackOrigin, value))">
                                
                                
                                {{displayValue(row[value], value)}}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row pb-2">
        <div class="col pl-4 text-left" *ngIf="getProperty(rabGridProperties.PaginationEnable)">
            Page size 
            <select [(ngModel)]="custom_page_size" (change)="page_size_change()" class="form-control form-control-sm show-count">
                <option value="0">All</option>
                <option *ngFor="let size of getProperty(rabGridProperties.PageSizes)" [disabled]="data.length < size" [value]="size">{{size}}</option>
            </select>
        </div>
        <div class="col pr-4 text-right mobile-hide" *ngIf="getProperty(rabGridProperties.PageEdit) || getProperty(rabGridProperties.RowAdd) || getProperty(rabGridProperties.ExportEnable)">
            <button *ngIf="!add_new_row && !editing_all && getProperty(rabGridProperties.RowAdd)" (click)="add_new()" class="btn btn-sm btn-light"><i class="fas fa-plus"></i> Add New</button>
            <button *ngIf="!add_new_row && !editing_all && getProperty(rabGridProperties.PageEdit)" (click)="edit_all()" class="btn btn-sm btn-light ml-1"><i class="fas fa-pencil-alt"></i> Edit All</button>
            
            <button *ngIf="editing_all" (click)="save_all()" class="btn btn-sm btn-light"><i class="fas fa-save"></i> Save All</button>
            <button *ngIf="editing_all" (click)="cancel_all()" class="btn btn-sm btn-light ml-1"><i class="fas fa-ban"></i> Cancel</button>
    
            <button *ngIf="add_new_row" (click)="save_new()" class="btn btn-sm btn-light"><i class="fas fa-save"></i> Save</button>
            <button *ngIf="add_new_row" (click)="cancel_new()" class="btn btn-sm btn-light ml-1"><i class="fas fa-ban"></i> Cancel</button>
    
            <div *ngIf="getProperty(rabGridProperties.ExportEnable) && !editing_all && !add_new_row" class="btn-group ml-4" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-download"></i> Export As
                </button>
                <div class="dropdown-menu c-grid-dropdown" aria-labelledby="btnGroupDrop1">
                    <a (click)="export_to(type)" *ngFor="let type of getProperty(rabGridProperties.ExportTypes)" class="dropdown-item pointer">
                        <i *ngIf="type.icon" [class]="type.icon"></i> {{type.name}}
                    </a>
                </div>
              </div>
        </div>
    </div>

    <div class="row" *ngIf="data.length || getProperty(rabGridProperties.HeaderOrder)">
        <div class="col" [class.table-responsive]="getProperty(rabGridProperties.Responsive)">
            <table id="rab-grid" class="table" 
                    [class.table-striped]="getProperty(rabGridProperties.ThemeStriped)"
                    [class.table-primary]="getProperty(rabGridProperties.ThemeColorTheme) == rabGridColorThemes.Primary"
                    [class.table-secondary]="getProperty(rabGridProperties.ThemeColorTheme) == rabGridColorThemes.Secondary"
                    [class.table-success]="getProperty(rabGridProperties.ThemeColorTheme) == rabGridColorThemes.Success"
                    [class.table-danger]="getProperty(rabGridProperties.ThemeColorTheme) == rabGridColorThemes.Danger"
                    [class.table-warning]="getProperty(rabGridProperties.ThemeColorTheme) == rabGridColorThemes.Warning"
                    [class.table-info]="getProperty(rabGridProperties.ThemeColorTheme) == rabGridColorThemes.Info"
                    [class.table-light]="getProperty(rabGridProperties.ThemeColorTheme) == rabGridColorThemes.Light"
                    [class.table-dark]="getProperty(rabGridProperties.ThemeColorTheme) == rabGridColorThemes.Dark"
                    [class.table-hover]="getProperty(rabGridProperties.ThemeHoverable)"
                    [class.table-bordered]="getProperty(rabGridProperties.ThemeBorderEnable) && (getProperty(rabGridProperties.ThemeBorderColorTheme) != rabGridBorderColors.BorderLess)"
                    [class.border-primary]="getProperty(rabGridProperties.ThemeBorderColorTheme) == rabGridBorderColors.Primary"
                    [class.border-secondary]="getProperty(rabGridProperties.ThemeBorderColorTheme) == rabGridBorderColors.Secondary"
                    [class.border-success]="getProperty(rabGridProperties.ThemeBorderColorTheme) == rabGridBorderColors.Success"
                    [class.border-danger]="getProperty(rabGridProperties.ThemeBorderColorTheme) == rabGridBorderColors.Danger"
                    [class.border-warning]="getProperty(rabGridProperties.ThemeBorderColorTheme) == rabGridBorderColors.Warning"
                    [class.border-info]="getProperty(rabGridProperties.ThemeBorderColorTheme) == rabGridBorderColors.Info"
                    [class.border-light]="getProperty(rabGridProperties.ThemeBorderColorTheme) == rabGridBorderColors.Light"
                    [class.border-dark]="getProperty(rabGridProperties.ThemeBorderColorTheme) == rabGridBorderColors.Dark"
                    [class.border-white]="getProperty(rabGridProperties.ThemeBorderColorTheme) == rabGridBorderColors.White"
                    [class.table-borderless]="getProperty(rabGridProperties.ThemeBorderColorTheme) == rabGridBorderColors.BorderLess"
                    [class]="getProperty(rabGridProperties.ThemeCustomClasses)"
                >
                <thead>
                    <tr *ngIf="getProperty(rabGridProperties.HeaderOrder)">
                        <th [style.width]="getProperty(rabGridProperties.ColumnSize, head)" *ngFor="let head of getProperty(rabGridProperties.HeaderOrder)"
                            [class.text-right]="getProperty(rabGridProperties.ColumnAlign, head) == 'right'"
                            [class.text-left]="getProperty(rabGridProperties.ColumnAlign, head) == 'left'"
                            [class.text-center]="getProperty(rabGridProperties.ColumnAlign, head) == 'center'">
                            <span *ngIf="!getProperty(rabGridProperties.ColumnSort, head)">
                                <span>{{getProperty(rabGridProperties.ColumnName, head) ? getProperty(rabGridProperties.ColumnName, head) : head}}</span>
                            </span>
                            <a class="table_sort" *ngIf="getProperty(rabGridProperties.ColumnSort, head)" (click)="sort(head)">
                                <span>{{getProperty(rabGridProperties.ColumnName, head) ? getProperty(rabGridProperties.ColumnName, head) : head}}</span>
                            </a>
                            <span *ngIf="sort_by == head"><span *ngIf="sort_direction == 1">&nbsp;<i class="fas fa-caret-down"></i></span><span *ngIf="sort_direction == 2">&nbsp;<i class="fas fa-caret-up"></i></span></span>
                        </th>
                        <th *ngIf="!download_mode && (getProperty(rabGridProperties.RowEdit) || getProperty(rabGridProperties.RowDelete))"></th>
                    </tr>
                </thead>
                <tbody *ngIf="getProperty(rabGridProperties.HeaderOrder)">
                    <tr *ngFor="let row of page_data; let i = index" >
                        <td *ngFor="let value of getProperty(rabGridProperties.HeaderOrder)" (click)="emit_cellClick(row, value)"
                            [class.text-right]="getProperty(rabGridProperties.ColumnAlign, value) == 'right'"
                            [class.text-left]="getProperty(rabGridProperties.ColumnAlign, value) == 'left'"
                            [class.text-center]="getProperty(rabGridProperties.ColumnAlign, value) == 'center'">
                            <span 
                                *ngIf="(!editing_all && editing_row != row && !(add_new_row && i == 0)) || !getProperty(rabGridProperties.ColumnEdit, value)" 
                                [class.bold]="getProperty(rabGridProperties.ColumnBold, value) || (getProperty(rabGridProperties.LastRowBold, value) && i == (getProperty(rabGridProperties.PaginationEnable) ? page_data.length : data.length) - 1)"
                                [class.archivo-bold]="getProperty(rabGridProperties.ColumnLinkEnable, value)"
                                [class.grid-links]="getProperty(rabGridProperties.ColumnLinkEnable, value)"
                                (click)="getProperty(rabGridProperties.ColumnLinkCallback, value)(row, getProperty(rabGridProperties.ColumnLinkCallbackOrigin, value))">
                                
                                
                                {{displayValue(row, value)}}
                            </span>
                            <div *ngIf="(editing_row == row || editing_all || (add_new_row && i == 0)) && getProperty(rabGridProperties.ColumnEdit, value)">
                                <input class="form-control w-100" [(ngModel)]="objToAny(editing_rows[i])[value]" *ngIf="editing_all && (getProperty(rabGridProperties.ColumnInputComponent, value) == rabGridEditComponents.TextInput)" type="text">
                                <input class="form-control w-100" [(ngModel)]="objToAny(new_row)[value]" *ngIf="(add_new_row && i == 0) && (getProperty(rabGridProperties.ColumnInputComponent, value) == rabGridEditComponents.TextInput)" type="text">
                                <input class="form-control w-100" [(ngModel)]="editing_row[value]" *ngIf="!editing_all && !add_new_row && (getProperty(rabGridProperties.ColumnInputComponent, value) == rabGridEditComponents.TextInput)" type="text">
        
                                <input class="form-control w-100" [(ngModel)]="objToAny(editing_rows[i])[value]" *ngIf="editing_all && (getProperty(rabGridProperties.ColumnInputComponent, value) == rabGridEditComponents.EmailInput)" type="email">
                                <input class="form-control w-100" [(ngModel)]="objToAny(new_row)[value]" *ngIf="(add_new_row && i == 0) && (getProperty(rabGridProperties.ColumnInputComponent, value) == rabGridEditComponents.EmailInput)" type="email">
                                <input class="form-control w-100" [(ngModel)]="editing_row[value]" *ngIf="!editing_all && !add_new_row && (getProperty(rabGridProperties.ColumnInputComponent, value) == rabGridEditComponents.EmailInput)" type="email">
        
                                <select class="form-control w-100" [(ngModel)]="objToAny(editing_rows[i])[value]" *ngIf="editing_all && (getProperty(rabGridProperties.ColumnInputComponent, value) == rabGridEditComponents.DropDownInput)">
                                    <option *ngFor="let option of getProperty(rabGridProperties.ColumnInputOptions, value); let i = index" [value]="getProperty(rabGridProperties.ColumnInputOptionValue, value, i)">{{getProperty(rabGridProperties.ColumnInputOptionName, value, i)}}</option>
                                </select>
                                <select class="form-control w-100" [(ngModel)]="objToAny(new_row)[value]" *ngIf="(add_new_row && i == 0) && (getProperty(rabGridProperties.ColumnInputComponent, value) == rabGridEditComponents.DropDownInput)">
                                    <option *ngFor="let option of getProperty(rabGridProperties.ColumnInputOptions, value); let i = index" [value]="getProperty(rabGridProperties.ColumnInputOptionValue, value, i)">{{getProperty(rabGridProperties.ColumnInputOptionName, value, i)}}</option>
                                </select>
                                <select class="form-control w-100" [(ngModel)]="editing_row[value]" *ngIf="!editing_all && !add_new_row && (getProperty(rabGridProperties.ColumnInputComponent, value) == rabGridEditComponents.DropDownInput)">
                                    <option *ngFor="let option of getProperty(rabGridProperties.ColumnInputOptions, value); let i = index" [value]="getProperty(rabGridProperties.ColumnInputOptionValue, value, i)">{{getProperty(rabGridProperties.ColumnInputOptionName, value, i)}}</option>
                                </select>
                            </div>
                        </td>
                        <td *ngIf="!download_mode && (getProperty(rabGridProperties.RowEdit) || getProperty(rabGridProperties.RowDelete))" style="min-width: 100px">
                            <button *ngIf="editing_row != row && getProperty(rabGridProperties.RowEdit) && !(add_new_row && i == 0) && !editing_all && !add_new_row" (click)="edit_row(row)" class="button-border"><i class="fas fa-pencil-alt"></i></button>
                            <button *ngIf="editing_row != row && getProperty(rabGridProperties.RowDelete) && !(add_new_row && i == 0) && !editing_all && !add_new_row" (click)="delete_row(row)" class="button-border ml-1"><i class="fas fa-trash-alt"></i></button>
        
                            <div class="c-dialog" *ngIf="deleting_row == row">
                                <div class="c-dialog-bubble pt-2 pb-2 pr-4 pl-4" [class.single]="!getProperty(rabGridProperties.RowEdit)">
                                    <div>Are you sure you want to delete?</div>
                                    <div class="pt-1 text-right">
                                        <button (click)="delete_yes()" class="btn btn-sm btn-danger">YES</button>
                                        <button (click)="delete_no()" class="btn btn-sm btn-default">NO</button>
                                    </div>
                                </div>
                            </div>
        
                            <button *ngIf="editing_row == row" (click)="save_row(row)" class="button-border"><i class="fas fa-save"></i></button>
                            <button *ngIf="editing_row == row" (click)="cancel_edit()" class="button-border ml-1"><i class="fas fa-ban"></i></button>
                        </td>
                    </tr>
                </tbody>

                <tbody>
                    <tr *ngIf="!data.length" class="text-center">
                        <td [attr.colspan]="getProperty(rabGridProperties.HeaderOrder) ? getProperty(rabGridProperties.HeaderOrder).length : 0">No records available</td>
                    </tr>
                </tbody>

                <tfoot *ngIf="getProperty(rabGridProperties.FooterEnable)">
                    <tr *ngIf="getProperty(rabGridProperties.HeaderOrder)">
                        <th *ngFor="let head of getProperty(rabGridProperties.HeaderOrder)">{{head}}</th>
                    </tr>
                </tfoot>
            </table>

            <div *ngIf="getProperty(rabGridProperties.DataTotalShow) && getProperty(rabGridProperties.PaginationEnable)" class="total">
                <span>
                    Total 
                    {{getProperty(rabGridProperties.DataLength) ? getProperty(rabGridProperties.DataLength) : data.length}} entries
                </span>
            </div>

            <nav *ngIf="getProperty(rabGridProperties.PaginationEnable)" aria-label="Page navigation">
                <ul class="pagination justify-content-end"
                    [class.pagination-default]="getProperty(rabGridProperties.PaginationThemeColorTheme) == rabGridPaginationColorThemes.Default"
                >
                    <li class="page-item" [class.disabled]="page == 1 || editing_all">
                        <a class="page-link" aria-label="Previous" (click)="change_page(1)">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
        
                    <li class="page-item" [class.disabled]="page == 1 || editing_all">
                        <a class="page-link" aria-label="Previous" (click)="change_page(page - 1)">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    
                    <li *ngFor="let number of page_numbers;" class="page-item" [class.disabled]="editing_all" [class.hidden]="(number > page + 2) || (number < page - 2)" [class.active]="page == number">
                        <a class="page-link" (click)="change_page(number)">{{number}}</a>
                    </li>
                    
                    <li class="page-item" [class.disabled]="page == page_numbers.length || editing_all">
                        <a class="page-link" (click)="change_page(page + 1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
        
                    <li class="page-item" [class.disabled]="page == page_numbers.length || editing_all">
                        <a class="page-link" (click)="change_page(page_numbers.length)" aria-label="Next">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div *ngIf="download_mode" class="center-loader">
            <div class="mx-auto spinner-container">
                <div class="loading-spinner-eclipse">
                    <div class="loading">
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="mx-auto mt-4">
                Please wait while downloading...
            </div>
        </div>
        
        <div *ngIf="loading" class="w-100">
            <div class="mx-auto" style="width: fit-content;">
                <div class="loading-spinner-eclipse">
                    <div class="loading">
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>